# Data (do not commit)
data/
data/raw/
data/interim/
data/processed/
data/labeled/
data/resampled/

#reports (do not commit some reports)
reports/labeled/
reports/raw/Test/

# Notebooks checkpoints
.ipynb_checkpoints/

# Python caches / environments
__pycache__/
*.pyc
.venv/
venv/

# Models
models/Campus_dataset_B_3class/
models/Farm/
models/Main/


# OS files
.DS_Store
.claude/
.vscode/