# Data (do not commit)
data/
data/raw/
data/interim/
data/processed/
data/labeled/
data/resampled/

# Notebooks checkpoints
.ipynb_checkpoints/

# Python caches / environments
__pycache__/
*.pyc
.venv/
venv/

# OS files
.DS_Store